<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="NavigatorCtrl" ng-init="onload()">
    <div class="sidebar-collapse" full-scroll>
        <span close-off-canvas></span>
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" dropdown>
                    <img alt="image" src="img/asiamoneyer-logo.png" />
                    <a class="dropdown-toggle" ui-sref="app.dashboard({show:'list'})">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">My Dashboard</strong>
                            </span>
                        </span>
                    </a>
                    <a ng-repeat="favoriteProject in FavoriteProjects" ui-sref="app.project({id:favoriteProject.Id})" ui-sref-active="active">
                        <span class="text-muted text-xs block mtop_2"><i class="fa fa-angle-right text-info" style="font-size:small;"></i> <i>{{favoriteProject.ProjectTitle}}</i></span>
                    </a>
                </div>
                <div class="logo-element">
                    <img alt="image" class="img-circle" src="img/asiamoneyer-logo-small.png" />
                </div>
            </li>
            <li class="activated">
                <div class="p_title"><label class="media-middle"><span class="nav-label">{{ 'Projects' | translate }}</span></label> <a href class="area_touch pull-right r_ico" ng-click="createNewProject()"> <span class="fa fa-plus-square-o"></span></a></div>
            </li>
            <ngspinner name="spinnerLoadNavigator" show="loading"></ngspinner>
            <li ui-sref-active="active" ng-repeat="proj in RecentProjects" ng-style="{'border-left-color': proj.User.HighlightColor}">
                <a ui-sref="app.project({id:proj.Id})" class="r_ico area_animate"><span class="nav-label">{{proj.ProjectTitle}}</span><span class="fa fa-lock pull-right" ng-show="proj.IsPrivate"></span></a>
            </li>
        </ul>

    </div>
</nav>