<div class="row wrapper border-bottom white-bg page-heading" ng-init="onload()">
    <div class="col-lg-9">
        <h2>Account</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="app.account.youraccount" ui-sref-active="active"><span class="nav-label"><i class="fa fa-caret-right"></i>Your Account</span></a>
            </li>
        </ol>
    </div>
    <div class="col-lg-3"></div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div ui-view></div>
</div>