<div class="wrapper wrapper-content" ng-init="onload()">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail" ui-sref="email_compose" ng-click="sendTestEmail()">Compose Mail</a>

                        <div class="space-25"></div>
                        <h5>Folders</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li><a ui-sref="app.msg.mail_inbox"> <i class="fa fa-inbox "></i> Inbox <span class="label label-warning pull-right">16</span> </a></li>
                            <li><a ui-sref="app.msg.mail_view"> <i class="fa fa-envelope-o"></i> Send Mail</a></li>
                            <li><a ui-sref="app.msg.mail_compose"> <i class="fa fa-certificate"></i> Important</a></li>
                            <li><a ui-sref="inbox"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-danger pull-right">2</span></a></li>
                            <li><a ui-sref="inbox"> <i class="fa fa-trash-o"></i> Trash</a></li>
                        </ul>
                        <h5>Templates</h5>
                        <ul class="category-list" style="padding: 0">
                            <li ng-repeat="template in Templates"><a ui-sref="app.msg.tlist({Id:'{{template.Id}}'})"> <i class="fa fa-circle text-info"></i> {{template.MessagingTemplateName}} </a></li>
                        </ul>

                        <h5 class="tag-title">Labels</h5>
                        <ul class="tag-list" style="padding: 0">
                            <li><a href=""><i class="fa fa-tag"></i> Family</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Work</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Home</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Children</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Holidays</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Music</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Photography</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Film</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div ui-view></div>
        </div>
    </div>
</div>
